.site_title{
    text-align: center;
}
.dropdown-menu > li > a {
    text-align: right;
}
.right_col {
    height: 100vh;
}
.control-label.col-md-3.col-sm-3.col-xs-12 {
    float: right;
    text-align: left;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
.float-left {
    float: left;
}
.title_left {
    padding-bottom: 15px;
}
.column-title {
    text-align: center;
}
td {
    text-align: center;
}
.nav-sm .site_title img {
    width: 218px;
    position: relative;
    right: 19px;
}
input, button, select, textarea{
    font-family: IRANYekan !important;
}
.form-control {
    font-family: IRANYekan;
    font-weight: lighter;
}
.sites_url span {
    float: left;
}
.sites_url li a, .sites_url li a span {
    font-size: 16px !important;
    line-height: 35px;
}