{% extends 'base.html' %}
{% load static %}
{% load client %}
{% block title %}سرویس‌های فعال{% endblock %}
{% load jformat %}
{% block css %}
    <style>
        a, h5, tr {
            transition: all 0.3s;
        }

        tr {
            opacity: 0.8;
        }

        tr:hover {
            opacity: 1;
        }
    </style>
{% endblock %}
{% block js %}
    <!-- DATA TABLE JS-->
    <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
{#    <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>#}
{#    <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>#}
    <script src="{% static 'assets/js/table-data.js' %}"></script>
     <script>
        $(window).on('load', function () {
            let e = $('#responsive-datatable_length');
            e = e.parent();
            e.hide();
            e = $('#responsive-datatable_filter').parent();
            e.removeClass();
            e.addClass('col-12');
        });
    </script>
{% endblock %}
{% block body %}

    <!-- GLOBAL-LOADER -->
    {% comment %}{% include 'loader.html' %}{% endcomment %}
    <!-- /GLOBAL-LOADER -->

    <!-- app-Header -->
    {% include 'header.html' %}
    <!-- /app-Header -->

    <!--APP-SIDEBAR-->
    {% include 'menu.html' %}

    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
                <!-- PAGE-HEADER OPTIONAL TO WRITE SOME DATA ABOUT request.user -->
                <div class="page-header">
                    <div class="d-flex">
                        <h1 class="page-title px-2">
                            {% if request.META.HTTP_REFERER %}
                                <a href="{{ request.META.HTTP_REFERER }}">
                                    <i class="fa fa-arrow-right"></i>
                                    برگشت
                                </a>
                            {% endif %}
                        </h1>
                        <h1 class="page-title px-2">سرویس‌های فعال</h1>
                    </div>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'client:user_order:user_order' %}">سرویس‌های کاربر</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">سرویس‌های فعال</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- write your code here -->
                {% if page %}
                    <div class="row row-sm">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="d-flex">
                                            <h4 class="mx-auto text-muted font-thin">صفحه‌ی {{ page.number|persian_numbers }}</h4>
                                        </div>
                                        <table class="table table-striped text-nowrap border-bottom" id="responsive-datatable">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p border-bottom-0">نام سرویس</th>
                                                    <th class="wd-10p border-bottom-0">دامنه‌ی سایت</th>
                                                    <th class="wd-10p border-bottom-0">سی</th>
    {#                                                <th class="wd-25p border-bottom-0">وضعیت سایت</th>#}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order_item in page %}
                                                    <tr>
                                                        <td>
                                                            <a class="text-dark" href="{% url 'order:order_detail' order_item.order.id %}">
                                                                {{ order_item.order.title }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="text-dark" href="{% url 'client:setting' %}">
                                                                {{ order_item.setting.domain }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary btn-sm" href="#">
                                                                مشاهده
                                                            </a>
                                                        </td>
    {#                                                    <td>#}
    {#                                                        <div class="d-flex">#}
    {#                                                            <div class="d-flex flex-column justify-content-around">#}
    {#                                                                <h5>سایت</h5>#}
    {#                                                                {% if order_item.extra.host %}#}
    {#                                                                    <small class="text-success">هاست ساخته شده</small>#}
    {#                                                                {% else %}#}
    {#                                                                    <small class="text-danger">هاست ساخته نشده</small>#}
    {#                                                                {% endif %}#}
    {#                                                                {% if user.extra.site %}#}
    {#                                                                    <small class="text-success">سایت ساخته شده</small>#}
    {#                                                                {% else %}#}
    {#                                                                    <small class="text-danger">سایت ساخته نشده</small>#}
    {#                                                                {% endif %}#}
    {#                                                                {% if order_item.extra.order_item %}#}
    {#                                                                    <small class="text-success">یوزر ساخته شده</small>#}
    {#                                                                {% else %}#}
    {#                                                                    <small class="text-danger">یوزر ساخته نشده</small>#}
    {#                                                                {% endif %}#}
    {#                                                            </div>#}
    {#                                                        </div>#}
    {#                                                    </td>#}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% include 'pagination.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- /write your code here -->

            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->


    <!-- Sidebar-right -->
    {% comment %}
    {% include 'side_bar.html' %}
    {% endcomment %}
    <!--/Sidebar-right-->

    <!-- Country-selector modal-->
    {% comment %}
    {% include 'country_selector.html' %}
    {% endcomment %}
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    {% include 'footer.html' %}
    <!-- FOOTER END -->

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
