{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/iCheck/skins/flat/blue.css" rel="stylesheet' %}">
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/cropper/dist/cropper.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-custom.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/normalize-css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/ion.rangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">
{% endblock %}
{% block page_title %}ویدان - ویرایش تنظیمات{% endblock %}
{% block bodyclass %} class="nav-md"{% endblock %}
{% block body %}
    <div class="container body">
        <div class="main_container">
            {% include "header.html" %}
            <div class="right_col" role="main" style="min-height: 5502px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>تنظیمات</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        تنظیمات ویدان من <small>({{ request.user.organization_name }})</small>
                                    </h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    {% if request.method == "POST" %}
                                        {% if result %}
                                            <div class="alert alert-success alert-dismissible show" role="alert">
                                                {{ result }}
                                            </div>
                                        {% endif %}
                                        {% if error %}
                                            <div class="alert alert-warning alert-dismissible show" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <form class="form-horizontal form-label-left" method="POST" novalidate="">
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">رنگ اصلی
                                                    سازمان</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="input-group demo2 colorpicker-element">
                                                        <span class="input-group-addon"><i
                                                                style="background-color: #0072BC;"></i></span>
                                                        <input type="text" name="org_colore" value="{{ setting.org_colore }}"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">رنگ دوم
                                                    سازمان</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="input-group demo2 colorpicker-element">
                                                        <span class="input-group-addon"><i
                                                                style="background-color: #0072BC;"></i></span>
                                                        <input type="text" name="sub_colore"
                                                               value="{{ setting.sub_colore }}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="newpassword2">
                                                    نام اپلیکیشن
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text"
                                                           id="newpassword2" name="app_name"
                                                           value="{{ setting.app_name }}" placeholder="application_name"
                                                           class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                             <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="newpassword2">
                                                    دامنه
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text"
                                                           id="newpassword2" name="domain"
                                                           value="{{ setting.domain }}" placeholder="دامنه سایت : example.com"
                                                           class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <a href="{% url 'client:setting' %}" class="btn btn-primary">بازگشت</a>
                                                <button type="submit" class="btn btn-success">ثبت</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/cropper/dist/cropper.min.js' %}"></script>
    <script src="{% static 'vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <script src="{% static 'vendors/ion.rangeSlider/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <script src="{% static 'vendors/DateJS/build/production/date.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}