{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/iCheck/skins/flat/blue.css" rel="stylesheet' %}">
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-custom.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet">
{% endblock %}
{% block page_title %}ویدان -تنظیمات {% endblock %}
{% block bodyclass %} class="nav-md"{% endblock %}
{% block body %}
    <div class="container body">
        <div class="main_container">
            {% include "header.html" %}
            <div class="right_col" role="main" style="min-height: 5502px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>تنظیمات</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        تنظیمات ویدان من <small>({{ request.user.organization_name }})</small>
                                    </h2>
                                    <a href="{% url 'client:setting_edit' %}"
                                       class="btn btn-primary float-left {#% if not edit_setting == 1%#}
                                               {#% endif %#}">ثبت/ویرایش
                                        اطلاعات</a>

                                        {% if settings.domain %}
                                            <a href="{% load client %}{% url 'client:createuser' user|domain %}"
                                               class="btn btn-info float-left">ساخت یوزر</a>
                                        {% endif %}

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                        {% if msg %}
                                            <div class="bg-warning noacvtive"><span>{{ msg }}</span></div>
                                        {% endif %}
                                        <form class="form-horizontal form-label-left">
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">دامنه</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">{{ settings.domain }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">نام
                                                    اپلیکیشن</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">{{ settings.app_name }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">رنگ
                                                    اصلی</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">{{ settings.org_colore }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">رنگ
                                                    ثانویه</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.sub_colore }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">شماره تماس
                                                    پشتیبانی</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.contact_phone }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">لینک دانلود
                                                    اپ</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.download_link }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">ورژن ویدان
                                                    شما</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.image_tag }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">لوگو</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.company_logo }}</label>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">اسپلش</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label"
                                                           dir="ltr">{{ settings.splashscreen }}</label>
                                                </div>
                                            </div>
                                        </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <script src="{% static 'vendors/DateJS/build/production/date.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
{% endblock %}