{% extends 'base.html' %}
{% load static %}{% load jformat %}
{% block title %}ویرایش کاربر{% endblock %}
{% block css %}
    <!-- jquery date picker css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/jquery_persian_datepicker/kamadatepicker.min.css' %}">
{% endblock %}
{% block js %}
    <!-- jquery date picker js -->
    <script src="{% static 'assets/plugins/jquery_persian_datepicker/kamadatepicker.js' %}"></script>

    <!-- SWEET-ALERT JS -->
    <script src="{% static 'assets/plugins/sweet-alert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/js/sweet-alert.js' %}"></script>
    <script>
        {% if save %}
            swal({
            type: "success",
            title: "تغییرات با موفقیت ذخیره شدند!",
            confirmButtonText: 'باشه',
            timer: 600
        });
        {% endif %} 
        kamaDatepicker('date', {
            markHolidays: true,
            markToday: true,
            gotoToday: true,
            twodigit: true,
            highlightSelectedDay: 'true',
            sync: true,
        });
    </script>
{% endblock %}

{% block body %}

    <!-- app-Header -->
    {% include 'header.html' %}
    <!-- /app-Header -->

    <!--APP-SIDEBAR-->
    {% include 'menu.html' %}


    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
                <!-- PAGE-HEADER OPTIONAL TO WRITE SOME DATA ABOUT request.user -->
                <div class="page-header">
                    <div class="d-flex">
                        <h1 class="page-title px-2">
                            <a href="{% url 'client:users' %}">
                                <i class="fa fa-arrow-right"></i>
                                کاربران
                            </a>
                        </h1>
                        <h1 class="page-title px-2">ویرایش کاربر بخش ادمین</h1>
                    </div>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'client:users' %}">کاربران</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">ویرایش کاربر</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- write your code here -->
                <form action="{% url 'client:user_edit' user.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    اطلاعات کاربر
                                    {{ user.first_name }} {{ user.last_name }}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group">
                                            <label for="first_name" class="form-label h5">نام</label>
                                            <input type="text" id="first_name" value="{{ user.first_name }}" class="form-control" placeholder="نام" name="first_name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group">
                                            <label for="last_name" class="form-label h5">نام خانوادگی</label>
                                            <input type="text" id="last_name" value="{{ user.last_name }}" class="form-control" placeholder="نام خانوادگی" name="last_name">
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group ">
                                            <label for="organization_name" class="form-label h5">نام شرکت</label>
                                            <input id="organization_name" type="text" value="{{ user.organization_name }}" class="form-control" placeholder="نام شرکت" name="organization_name">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group">
                                            <label for="date" class="form-label h5">تاریخ ثبت شرکت</label>
                                            <input class="form-control number-font" value="{{ user.dateofestablishment|jformat:'%Y/%m/%d' }}" autocomplete="off" placeholder="تاریخ ثبت شرکت" id="date" name="dateofestablishment" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group ">
                                            <label for="email" class="form-label h5">ایمیل</label>
                                            <input id="email" type="email" value="{{ user.email }}" class="form-control" placeholder="ایمیل" name="email">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group">
                                            <label for="educational_interface_name" class="form-label h5">روابط آموزشی</label>
                                            <input id="educational_interface_name" type="text" value="{{ user.educational_interface_name }}" class="form-control" placeholder="روابط آموزشی" name="educational_interface_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-0">
                                        <div class="form-group">
                                            <label for="description" class="form-label h5">توضیحات</label>
                                            <textarea id="description" class="form-control mb-4" rows="4" name="description" placeholder="توضیحات">{{ user.description }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        <div class="form-group">
                                            <label class="custom-control custom-radio-md">
                                                <input type="radio" class="custom-control-input" name="status"
                                                       value="True" {% if user.status.active_user %}checked=""{% endif %}>
                                                <span class="custom-control-label">فعال</span>
                                            </label>
                                            <label class="custom-control custom-radio-md">
                                                <input type="radio" class="custom-control-input" name="status"
                                                       value="False" {% if not user.status.active_user %}checked=""{% endif %}>
                                                <span class="custom-control-label">غیرفعال</span>
                                            </label>
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="form-group col-md-6 mb-0">
                                            <div class="form-group h-100">
                                                <div class="d-flex justify-content-around align-items-center h-100">
                                                    {% if user.setting_set.first.domain %}
                                                        <a href="{% url 'client:admininstall' user.setting_set.first.owner.id %}"
                                                           class="btn {% if user.extra.host %}btn-success disabled{% else %}btn-outline-primary{% endif %}"
                                                           {% if user.extra.host %}disabled="" {% endif %}>
                                                            ساخت هاست
                                                        </a>
                                                        {% if user.extra.host %}
                                                            <a href="{% url 'client:install-sites' user.setting_set.first.owner.id %}"
                                                               class="btn {% if user.extra.site %}btn-success disabled{% else %}btn-outline-primary{% endif %}"
                                                               {% if user.extra.host %}disabled="" {% endif %}>
                                                                ساخت سایت
                                                            </a>
                                                            {% if user.extra.site %}
                                                                <a href="{% url 'client:siteuser' user.setting_set.first.owner.id %}"
                                                                   class="btn {% if user.extra.user %}btn-success disabled{% else %}btn-outline-primary{% endif %}"
                                                                   {% if user.extra.user %}disabled="" {% endif %}>
                                                                    یوزر
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-footer mt-2">
                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

                <!-- /write your code here -->
            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->


    <!-- Sidebar-right -->
{#    {% include 'side_bar.html' %}#}
    <!--/Sidebar-right-->

    <!-- Country-selector modal-->
{#    {% include 'country_selector.html' %}#}
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    {% include 'footer.html' %}
    <!-- FOOTER END -->

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
