<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fontiran.com:license" content="Y68A9">
    <link rel="icon" href="../build/images/favicon.ico" type="image/ico"/>
    <title> {% block page_title %}داشبورد{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}">
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static style %}">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <!-- Custom Theme Style -->

</head>
<body{% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
{% include 'footer.html' %}
<script src="{% static 'site/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
