{% load client %}
<div class="btn-group" role="group">
    <!-- first -->
    {% if page.number != page.paginator.page_range.0 %}
        {% if page.paginator.page_range.0 %}
            <a href="{% url page_url %}?page_number={{ page.paginator.page_range.0 }}"
               class="btn btn-outline-primary btn-sm">اولین</a>
        {% endif %}
    {% endif %}

    <!-- current - 3 -->
    {% if page.number|add:-3 in page.paginator.page_range and page.number|add:-3 != page.paginator.page_range.0 %}
        <a class="btn btn-outline-primary btn-sm">. . . </a>
    {% endif %}

    <!-- current - 2 -->
    {% if page.number|add:-2 in page.paginator.page_range  and page.number|add:-2 != page.paginator.page_range.0 %}
        <a href="{% url page_url %}?page_number={{ page.number|add:-2 }}"
           class="btn btn-outline-primary btn-sm">{{ page.number|add:-2|persian_numbers }}</a>
    {% endif %}

    <!-- current - 1 -->
    {% if page.has_previous and page.previous_page_number != page.paginator.page_range.0 %}
        <a href="{% url page_url %}?page_number={{ page.previous_page_number }}"
           class="btn btn-outline-primary btn-sm">{{ page.previous_page_number|persian_numbers }}</a>
    {% endif %}

    <!-- current -->
    <a href="{% url page_url %}?page_number={{ page.number }}"
       class="btn btn-outline-primary btn-sm">{{ page.number|persian_numbers }}</a>

    <!-- current + 1 -->
    {% if page.has_next and page.next_page_number != page.paginator.num_pages %}
        <a href="{% url page_url %}?page_number={{ page.next_page_number }}"
           class="btn btn-outline-primary btn-sm">{{ page.next_page_number|persian_numbers }}</a>
    {% endif %}

    <!-- current + 2 -->
    {% if page.number|add:2 in page.paginator.page_range and page.number|add:2 != page.paginator.num_pages %}
        <a href="{% url page_url %}?page_number={{ page.number|add:2 }}"
           class="btn btn-outline-primary btn-sm">{{ page.number|add:2|persian_numbers }}</a>
    {% endif %}

    <!-- current + 3 -->
    {% if page.number|add:+3 in page.paginator.page_range and page.number|add:+3 != page.paginator.num_pages %}
        <a class="btn btn-outline-primary btn-sm">. . . </a>
    {% endif %}

    <!-- last -->
    {% if page.number != page.paginator.num_pages %}
        <a href="{% url page_url %}?page_number={{ page.paginator.num_pages }}"
           class="btn btn-outline-primary btn-sm">آخر {{ page.paginator.num_pages|persian_numbers }}</a>
    {% endif %}
</div>
